<<<<<<< HEAD
=======
/*Tira as setinhas do input number*/
>>>>>>> a9e1a45526328bc1471a6ed18c887b2159b90a67
input[type="number"]{
    outline: none;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}